#aboutMe{
    background-color:black;
    height:auto;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding:5vh 5vw;
}
.cards{
    margin-top: 50px;
    width:100%;
    height:50vh;
    border-radius:20px;
    box-sizing: border-box;
    padding:20px 60px;
    box-shadow: 0 0 10px white;
    color:white;
}
#smcontainer{
    width:100%;
    height:auto;
    display:flex;
    flex-wrap: wrap;
    padding:20px 40px;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow:hidden visible;
}
.sm{
    width:100px;
    height:150px;
    margin: 40px;
    display:flex;
    padding-top: 20px;
    justify-content: center;
    align-items:flex-start;
    transform-style: preserve-3d;
    perspective: 3000px;
    box-sizing: border-box;
    border:2px solid white;
    border-radius: 10px;
}
.sm:hover{
    padding-top:0;
    width:150px;
    margin:30px;
    height:200px;
    align-items: center;
    box-shadow:
        1px 1px 20px white,
        1px -1px 20px white,
        -1px 1px 20px white,
        -1px -1px 20px white;
    background: var(--bg-color);
    .smicon{
        border-radius:8px;
        transform:scale(2) translateZ(100px);
    }
}
.smicon a{
    text-decoration: none;

}
.smicon{
    width:80px;
    height:80px;
}
.fa{
    display:flex;
    color:var(--t-color);
    justify-content: center;
    align-items: center;
    align-content: center;
    height:100%;
    text-decoration: none;
    font-size:60px;
    border-radius:5px;
    width:100%;
}
#card1Img{
    box-shadow:
        2px 2px 5px white,
        -2px 2px 5px white,
        2px -2px 5px white,
        -2px -2px 5px white;
    display:absolute;
    position: relative;
    height:100%;
    width:20%;
    float:right;
    overflow:hidden;
    border:10px solid black;
    border-radius: 10px;
}
#card1Text{
    float:left;
    width:70%;
}
#card1Text div{
    width:100%;
}
@media screen and (max-width:1000px) {
    .cards{
        height:100vh;
    }    
    .sm{
        width:250px;
        height:250px;
        padding-top: 40px;
        &:hover{
            width:250px;
            height:250px;
        }
    }
    .smcontainer{
        padding:20px 0;
    }
}