
#navbar{
    height:70px;
    position:fixed;
    width:100%;
    z-index:1;
    overflow:hidden;
    background-color: transparent;
}
#overlay{
    overflow: hidden;
    background-color: transparent;
    z-index:1;
    top:0;
    left:0;
    justify-content: flex-end;
    display:flex;
    height:100%;
    /* left:60%; */
    width:100%;
    /* top:35%; */
    position:absolute;
}
.overlayButton{
    background-color:none;
    background: none;
    font-size: 20px;
    width:auto;
    border:none;
    margin-right:1%;

}
.overlayButton a{
    color:black;
    font-weight:bold;
    text-decoration: none;
    font-size:24px;
    text-shadow:
    1px 1px 1px rgba(251, 37, 118,1),
    -1px 1px 1px rgba(251, 37, 118,1),
    1px -1px 1px rgba(251, 37, 118,1),
    -1px -1px 1px rgba(251, 37, 118,1);
}
.overlayButton a:visited{
    color:black;
    font-weight:bold;
    text-decoration: none;
    font-size:24px;
    text-shadow:
    1px 1px 1px rgba(251, 37, 118,1),
    -1px 1px 1px rgba(251, 37, 118,1),
    1px -1px 1px rgba(251, 37, 118,1),
    -1px -1px 1px rgba(251, 37, 118,1);
}
body{
    padding : 0px;
    margin:0px;
}

@media screen and (max-width: 1000px) {
    .overlayButton{
        width:100%;
    }
    #TopBar{
        height:100%;
    }
    #navbar{
        height:200px;
    }
    #overlay{
        top:10%;
        height:auto;
    }
    .overlayButton{
        margin: 0.5% 0.5% 0.5% 0.5%;
    }
}