#aboutMe{
    background-color:black;
    height:auto;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    padding:5vh 5vw;
}
input{
    margin:0;
}
.cards{
    display:flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width:100%;
    min-height: 50vh;
    border-radius:20px;
    box-sizing: border-box;
    padding:20px 60px;
    box-shadow: 0 0 10px white;
    justify-content: space-evenly;
    color:white;
    align-items: center;
}
#smcontainer{
    width:100%;
    height:auto;
    display:flex;
    flex-wrap: wrap;
    padding:20px 40px;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow:hidden visible;
}
.sm{
    width:100px;
    height:150px;
    margin: 40px;
    display:flex;
    /* padding-top: 20px; */
    justify-content: center;
    align-items:center;
    transform-style: preserve-3d;
    perspective: 3000px;
    box-sizing: border-box;
    border:2px solid white;
    border-radius: 10px;
}
.sm:hover{
    padding-top:0;
    width:150px;
    margin:30px;
    height:200px;
    align-items: center;
    box-shadow:
        1px 1px 20px white,
        1px -1px 20px white,
        -1px 1px 20px white,
        -1px -1px 20px white;
    background: var(--bg-color);
    .hasImage{
        border-radius:8px;
        height:160px;
        width:160px;
        transform:translateZ(100px);
    }
    .noImage{
        border-radius:8px;
        transform: scale(2);
        transform:scale(2) translateZ(100px);
    }
}
.smicon a{
    text-decoration: none;

}
.smicon a img{
    height:100%;
    width:100%;
}
.smicon{
    width:80px;
    height:80px;
}
.fa{
    display:flex;
    color:var(--t-color);
    justify-content: center;
    align-items: center;
    align-content: center;
    height:100%;
    text-decoration: none;
    font-size:60px;
    border-radius:5px;
    width:100%;
}
#formContainer{
    height:auto;
    width: 100%;
    font-size:25px;
}
#formContainer div{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    padding:20px;
    box-sizing: border-box;
    align-content: center;
    align-items: center;
    height:auto;    
}
input[type="radio"]{
    background-color:pink;
}
#formContainer div p,#formContainer div label,#formContainer div input,#formContainer div textarea{
    height:40px;
    background-color:transparent;
    font-size:24px;
    color:#FB2576;
    /* text-shadow:
        1px 1px 1px #FB2576,
        -1px 1px 1px #FB2576,
        1px -1px 1px #FB2576,
        -1px -1px 1px #FB2576; */
        /* 0.6px 0.6px 0.2px white,
        -0.6px 0.6px 0.2px white,
        0.6px -0.6px 0.2px white,
        -0.6px -0.6px 0.2px white; */
    width:100%;
    display:flex;
    align-items: center;
}
#formContainer div input[type="submit"],#formContainer div input[type="text"],#formContainer div textarea
{
    box-shadow:2px 2px 2px #FB2576 ;
}
#card1Img{
    box-shadow:
        2px 2px 5px white,
        -2px 2px 5px white,
        2px -2px 5px white,
        -2px -2px 5px white;
    height:225px;
    width:225px;
    margin:20px 20px 65vh;
    position:sticky;
    top:60px;
    overflow:hidden;
    border:10px solid black;
    border-radius: 10px;
}
#card1Img img{
    height:100%;
    width:100%;
}
#card1Text{
    width:70%;
    height:auto;
    font-size: 22px;
}
#card1Text div{
    width:100%;
}
@media screen and (max-width:1000px) {
    .fa{
        font-size: 80px;
    }
    .cards{
        align-items: flex-start;
        height:auto;
        box-sizing: border-box;
        padding:40px 0px 30px 0px;
    }  
    #card1Img{
        position:relative;
        width:200px;
        height:200px;
        margin-bottom: 40px;
        top:0;
    }  
    #card1Text{
        margin-bottom: 60px;
        font-size: 18px;
    }
    .sm{
        width:200px;
        height:200px;
        /* padding-top: 40px; */
        &:hover{
            width:200px;
            height:250px;
        }
    }
    .smcontainer{
        padding:20px 0;
    }
}