#skills{
    width:100%;
    background-color:#3F0071;
    height:auto;
    box-sizing:border-box;
    position:relative;
    padding:20vh 10vw 20vh 10vw; 
}
#skillsRight{
    z-index:0;
    background-color:transparent;
    width:100%;
    height:auto;
    display:block;
}
#skillsRight div label{
    z-index:0;
    width:25%;
    color:#FB2576;
    font-size:24px;
    /* text-shadow: 
        1px 1px 0.5px black,
        -1px 1px 0.5px black,
        1px -1px 0.5px black,
        -1px -1px 0.5px black; */
    float:left;
    text-align: center;
    transform: translateY(-3px);
}
.lowLayer{
    z-index:0;
    width:65%;
    float:left;
    background-color: rgba(0,0,0,0.6);
    height:25px;
    border:2px solid black;
    border-radius: 10px;
}
.aboveLayer{
    z-index:0;
    /* background-color:; */
    border:0.5px solid white;
    height:100%;
    animation:fillBar 3s forwards;
    border-radius: 10px;
}
@keyframes fillBar {
    0%{
        width:0%;
        background-color: black;
    }    
    25%{
        width:100%;
        background-color:white;
    }
    100%{
        width:var(--value);
        background-color:#FB2576;
    }
}
.progressbar{
    background-color: none;
    width:100%;
    height:65px;
    margin-bottom:25px;
    box-sizing: border-box;
    /* padding:20px 0; */
    display:flex;
    align-items: center;
    border-radius: 10px;
    visibility:hidden;
    opacity:0;
    z-index:0;
    transform: translateY(50%);
    transition: all 0.5s ease-in-out;
    box-shadow:
    0 0 10px black;
    background-image: radial-gradient(circle at left,#1f0039,#3F0071);
}
.barPop{
    visibility:visible;
    opacity:1;
    transform: translateY(-50%);
}
@media screen and (max-width:1000px) {
    #skills{
        padding:10vh 10vw;
    }
    .progressbar{
        padding:5px;
        display:block;
        height:auto;
    }
    #skillsRight div label{
        font-size:20px;
        display:block;
        width:100%;
        float: none;
        text-align: start;
        margin-bottom: 10px;
    }
    .lowLayer{
        display:block;
        width:100%;
        height:20px;
        float:none;
    }
}