#menuButton{
    width:12%;
    height:40px;
    top:0;
    margin:0;
    right:10px;
    padding:0;
    background-color:rgba(251, 37, 118,1);
    position: relative;
    border:none;
    border-radius:20%;
}
#menuButton:hover{
    border:2px solid white;
}
#navbar{
    height:70px;
    position:fixed;
    width:100%;
    z-index:1;
    background-color: transparent;
}
#collapse{
    display:none;
}
#overlay{
    background-color: transparent;
    z-index:1;
    top:0;
    left:0;
    justify-content: flex-end;
    display:flex;
    height:100%;
    width:100%;
    position:absolute;
}
.overlayButton{
    background: none;
    width:auto;
    border:none;
    font-size: 26px;
    margin-right:1%;
}
.overlayButton a{
    color:black;
    font-weight:bold;
    text-decoration: none;
    text-shadow:
    1px 1px 1px rgba(251, 37, 118,1),
    -1px 1px 1px rgba(251, 37, 118,1),
    1px -1px 1px rgba(251, 37, 118,1),
    -1px -1px 1px rgba(251, 37, 118,1);
}
.overlayButton a:visited{
    color:black;
    font-weight:bold;
    text-decoration: none;
    text-shadow:
    1px 1px 1px rgba(251, 37, 118,1),
    -1px 1px 1px rgba(251, 37, 118,1),
    1px -1px 1px rgba(251, 37, 118,1),
    -1px -1px 1px rgba(251, 37, 118,1);
}
body{
    padding : 0px;
    margin:0px;
}

@media screen and (max-width: 1000px) {
    #collapse{
        display:flex;
    }
    .overlayButton{
        width:100%;
        display:block;
        position: relative;
    }
    #navbar{
        /* height:300px; */
        background-color: transparent;
    }
    #overlay{
        display:none;
        /* display:block; */
        top:10%;
        position: relative;
        padding:0 0 5vh 0;
    }
    .overlayButton{
        margin: 2% 2% 2% 2%;
    }
}